{% load static %}


<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a7592f8bc2.js" crossorigin="anonymous"></script>

<!--Import Google Site Fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto:ital,wght@0,100;1,100&family=Sacramento&display=swap" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <link href="{% static 'css/camper.css'%}" rel="stylesheet">
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <Title>Journey-Japan Camper Rentals In Tokyo</Title>
    </head>

    <body id="home" class="scrollspy">
      <div class="navbar-fixed " >
        <nav class="white ">
          <div class="container">
            <div class="nav-wrapper">
              <a href="{% url 'camperadmin' %}" class="brand-logo black-text">

                

                <img src="{% static 'images/adminlogogreen.png'%}">
              </a>
              <a href="{% url 'camperadmin' %}" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down ">
               
                  <li><a class ="black-text" href="{% url 'camperinquiry' %}">Camper Inquiries</a></li>
                    <li><a class ="black-text" href="{% url 'camperbooking' %}">Camper Bookings</a></li>
                    
                </ul>

              </div>

            </div>

          </nav>

        </div>

        <ul class="sidenav" id="mobile-nav">
          <li><a class ="black-text" href="#">Admin Signup</a></li>
          <li><a class ="black-text" href="#">Admin Login</a></li>
         


          </ul>



{% if user.is_authenticated %}

Logged in as {{ user.username }}


<form action="{% url 'logoutuser' %}" method="POST">
  {% csrf_token %}
  <button type="submit">Logout</button>

</form>

{% else %}

<a href="{% url 'loginuser' %}">Login </a>

{% endif %}
<br>
<br>


 {% block content %}



 {% endblock content %}




 
<br />
<br />


   </section>


       <!--JavaScript at end of body for optimized loading-->
       <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>


       <script>
         // Side Navigation
         const sideNav = document.querySelector('.sidenav');
         M.Sidenav.init(sideNav, {});

    

   </script>
     </body>
   </html>


   