{% extends 'camperadmin/base2.html' %}

{% load static %}




{% block content %}


    
  <!-- Section Experience Camping -->
  <section class="section-camperhome">

    <div class="container">
      <div class="row">
        <h5 class="center"><span class="teal-text"></span> Camper Bookings</h5>

        <div class="col s6">
            <h5 class="center"><span class="teal-text">Amity</span> </h5>
            <div>
              <p class="center"><a class =" white-text  btn-large check2" href="{% url 'camperbooking:bookinglist1' %}">Booking Info</a></p>

            </div>
            <br>
            <div>
              <p class="center"><a class =" white-text  btn-large check2" href="{% url 'camperbooking:campercheck' %}">Camper Booking</a></p>

            </div>

        </div>
        
      <div class="col s6">
        <h5 class="center"><span class="teal-text">Anthony </span> </h5>
        <div>
          <p class="center"><a class =" white-text  btn-large check2" href="{% url 'camperbooking:bookinglist2' %}">Booking Info</a></p>

        </div>
        <br>
        <div>
          <p class="center"><a class =" white-text  btn-large check2" href="{% url 'camperbooking:campercheck2' %}">Camper Booking</a></p>

        </div>
    </div>

        </div>
        
      </div>

    </div>


    </section>
    <br/>
    <br/>







<br>

</section>







{% endblock  %}
